extends ../layout

block content
    section(id="intro", class="intro")
        #index-banner.section.no-pad-bot
            .container
                .row.center
                    h5.header.col.s12.light.lhd-details-0 Personal Trainer Finder
